note{
    background-color: red;
}
date{
    background-color: aqua;
}
hour{
background-color: yellow;
}
To{
background-color: salmon;
}
from{
background-color: darkgoldenrod;
}
heading{
background-color:sienna ;
}
heading{
background-color: darkgray;
}
body{
background-color: violet;
}
